################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/RabbitMqSend/obj/Debug
/RabbitMqSend/bin/Debug
/.vs/RabbitMqSend/v15
